#info_column, #available_offers_column{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#result_brands{
    max-height: 25vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#missed_offer_container{
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
}