#country_page_sub_header{
    background-image: url("../vectors/funscrimp_backdrop.svg");
}
#result_brands{
    max-height: 25vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
@media (max-width: 576px){
    #brands_section{
        overflow-x: scroll;
    }
}

