#info_column, #available_offers_column{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#result_brands{
    max-height: 25vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#missed_offers_container{
    max-height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
}