#homepage_header{
    background-image: url("../vectors/funscrimp_backdrop_01.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
#explore_funscrimp:hover{
    background-color: #cbcbcb;
}
#result_countries{
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
