{%  extends "base_footer.html" %}
{% load static %}

{% block Stylesheet %}
    <link href="{% static 'promotion/css/brand_page.css' %}" rel="stylesheet">
    <link href="{% get_media_prefix %}{{ target_brand.brand_logo }}" rel="icon">
{% endblock %}

{% block Title %}
    {{ target_brand }} Offers: {{ target_country }}
{% endblock %}

{% block Content %}
    {% include "navbar_header.html" %}

     <div class="container-fluid">
        <div class="row border-top border-bottom border-dark">
            <div class="collapse bg-white rounded" id="search_brands">
                <div class="p-2" id="result_brands">
                    {% for brand in target_country_brands %}
                        <div class="row m-2 brand_as_search_result" brand_name="{{ brand.brand_name }}">
                            <div class="col-auto align-self-center">
                                <a href="{{ target_country.get_absolute_url }}{{ brand.brand_slug }}">
                                    <img class="img-fluid rounded" height="36" width="48" src="{% get_media_prefix %}{{ brand.brand_logo }}" alt="Funscrimp_brand_logo">
                                </a>
                            </div>
                            <div class="col-auto align-self-center">
                                <a href="{{ target_country.get_absolute_url }}{{ brand.brand_slug }}" class="link-dark text-decoration-none">
                                    {{ brand.brand_name }}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
     </div>

    <div class="container-fluid p-4 bg-light">
        <div class="container p-4 bg-light">
            <div class="row">
                <div class="col-lg-3 text-center">
{#                    <img height="111" width="148" src="{% get_media_prefix %}{{ target_brand.brand_logo }}" alt="">#}
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-8 bg-gradient align-self-center">
                    <h4 class=" text-uppercase">{{ target_brand.brand_name }} DISCOUNT & VOUCHER CODES &diams; {{current_month_year}}</h4>
                    <h6>Find the latest {{ target_brand.brand_name }} discount codes and coupon codes here. Buy for less!</h6>
                </div>
            </div>

            <div class="row p-2 flex-column-reverse flex-lg-row border-bottom border-dark">
                <div class="col-lg-3 mt-2 border-top border-dark" id="info_column"> {# Offer and Brand Info #}
                    <div class="row mt-2 mb-4">
                        <div class="col-lg-auto border border-dark rounded-3 w-100">
                            <div class="row bg-white border-bottom border-dark justify-content-center">
                                <div class="col-md-auto py-2 bg-white text-center">
                                    <img height="111" width="148" src="{% get_media_prefix %}{{ target_brand.brand_logo }}" alt="Funscrimp_brand_logo">
                                    <h5>{{ target_brand.brand_name }} Offer Stats</h5>
                                </div>
                            </div>
                            <p>used today.</p>
                            <p>offers available.</p>
                        </div>
                    </div>
                    <div class="row my-2 justify-content-center">
                        <div class="col-md-auto border border-dark rounded-3 w-100">
                            <div class="row border-bottom border-dark bg-white">
                                <div class="col-md-auto py-2 bg-white">
                                    <h5>More About {{ target_brand.brand_name }} Offers</h5>
                                </div>
                            </div>
                            <p><b>How long do {{ target_brand.brand_name }} coupons last?</b></p>
                            <p>
                                The {{ target_brand.brand_name }} promo codes currently available end when {{ target_brand.brand_name }} set the coupon expiration date. However, some {{ target_brand.brand_name }} deals don't have a definite end date, so it's possible the promo code will be active until {{ target_brand.brand_name }} runs out of inventory for the promotional item.
                            </p>
                            <p><b>How to save money at {{ target_brand.brand_name }}?</b></p>
                            <p>
                                You can save money at {{ target_brand.brand_name }} by using one of the current {{ target_brand.brand_name }} coupons from Funscrimp. Right now, the most you can save is 80% off.
                            </p>
                            <p><b>How many {{ target_brand.brand_name }} online coupons are available?</b></p>
                            <p>
                                There are currently 38 {{ target_brand.brand_name }} online coupons reported by {{ target_brand.brand_name }}. These deal offers are available online, including 17 coupon codes. Today alone, users have collectively cashed in on 6450 offers.
                            </p>
                            <p><b>How do I use {{ target_brand.brand_name }} coupons?</b></p>
                            <p>
                                To use a {{ target_brand.brand_name }} coupon, copy the related promo code to your clipboard and apply it while checking out. Some {{ target_brand.brand_name }} coupons only apply to specific products, so make sure all the items in your cart qualify before submitting your order. If there's a brick-and-mortar store in your area, you may be able to use a printable coupon there as well.
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-auto border border-dark rounded-3 w-100">
                            <div class="row mb-2 bg-white border-bottom border-dark">
                                <div class="col-md-auto py-2 rounded bg-white">
                                    <h5>Community Comments</h5>
                                </div>
                            </div>
                            {% for comment in comments %}
                                <div class="row mb-2 border-bottom border-dark">
                                    <div class="col-md-auto">
                                        <div class="row">
                                            <div class="col-md-auto">
                                                <img height="32" width="32" src="{% static 'promotion/images/user_profile_pic.png' %}" alt="Funscrimp_user_dp">
                                            </div>
                                            <div class="col-md-auto">
                                                <p><b>{{ comment.username }}</b></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-auto">
                                                <p class="text-muted">{{ comment.comment_created_on }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-auto">
                                                <p>{{ comment.comment }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-1"></div>

                <div class="col-lg-8 mt-2 border-top border-dark" id="available_offers_column">
                    {% for offer in available_offers %}
                        <div class="row p-2 my-4 bg-white border rounded-3 align-items-center justify-content-center" id="coupon_info">
                            <div class="col-md-2 align-self-center offer_image_column">
                                <div class="row px-2 pt-2">
                                    {% if offer.offer_type == "CODE" %}
                                        <div class="col-lg py-5 border border-danger rounded-top align-self-center">
                                            <h3 class="text-center text-danger"><b>{{ offer.offer_amount }}%</b></h3>
                                        </div>
                                    {% endif %}
                                    {% if offer.offer_type == "DEAL" %}
                                        <div class="col-lg py-5 border border-warning rounded-top align-self-center">
                                            <h3 class="text-center text-warning"><b>{{ offer.offer_amount}}%</b></h3>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row px-2 pb-2 align-items-center">
                                    {% if offer.offer_type == "CODE" %}
                                        <div class="col-lg border border-danger bg-danger rounded-bottom align-self-center">
                                            <p class="text-center text-light"><b>{{ offer.offer_type }}</b></p>
                                        </div>
                                    {% endif %}
                                    {% if offer.offer_type == "DEAL" %}
                                        <div class="col-lg border border-warning bg-warning rounded-bottom align-self-center">
                                            <p class="text-center text-light"><b>{{ offer.offer_type }}</b></p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 align-self-center offer_details_column">
                                <div class="row p-2 align-items-center justify-content-center">
                                    <div class="col-lg">
                                        <p class="text-center"><b>{{ offer.offer_title }}</b></p>
                                        <p class="text-center">{{ offer.offer_details }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 align-self-center text-center">
                                {% if offer.offer_type == "CODE" %}
                                    <a class="btn btn-danger btn-outline-light px-4 rounded-pill text-nowrap" coupon_no="{{ forloop.counter0 }}" c_percentage="{{ offer.offer_amount }}" c_type="{{ offer.offer_type }}" c_title="{{ offer.offer_title }}" c_details="{{ offer.offer_details }}" c_code="{{ offer.offer_code}}" c_link="{{ target_brand.brand_link }}" onclick="redirect_hidden({{ forloop.counter0 }})" href="#" role="button" id="button_code" data-bs-toggle="modal" data-bs-target="#code_modal"><b>REVEAL THE CODE</b></a>
                                {%  endif %}
                                {% if offer.offer_type == "DEAL" %}
                                    <a class="btn btn-warning btn-outline-light px-5 rounded-pill text-nowrap" coupon_no="{{ forloop.counter0 }}" c_percentage="{{ offer.offer_amount }}" c_type="{{ offer.offer_type }}" c_title="{{ offer.offer_title }}" c_details="{{ offer.offer_details}}" c_code="You do not need any code for this offer!" c_link="{{ target_brand.brand_link }}" onclick="redirect({{ forloop.counter0 }})" href="#" role="button" id="button_deal" data-bs-toggle="modal" data-bs-target="#code_modal"><b>GET THE DEAL</b></a>
                                {%  endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-2">
        <div class="container  mb-4 p-2">
            <div class="col border border-dark rounded-top w-100 p-4 align-items-center"><h4>Offers that you have missed!</h4></div>
            <div class="container bg-light border-bottom border-start border-end border-dark rounded-bottom p-4" id="missed_offers_container">
                {% for offer in expired_offers %}
                    <div class="row bg-white m-2 border rounded-3">
                        <div class="col-auto pt-4 align-self-center">
                            <h6>Archived Offer: {{ offer.offer_title }}</h6>
                            <p>{{ offer.offer_details }}</p>
                            <p class="text-muted mb-0"><i>Expired on: </i>{{ offer.offer_expires_on }}</p>
                            <p class="text-muted mt-0"><i>Next available on: </i>{{ offer.offer_next_available_on }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="code_modal" tabindex="-1" aria-labelledby="code_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content p-4">
                <div class="modal-header border border-dark rounded-3">
                    <h5 class="modal-title" id="code_modal_label">Congratulations!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md">
                                    <div class="row">
                                        <div id="popup_percentage_back">
                                            <h1><b id="popup_percentage_target"></b></h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="popup_type_back">
                                            <p class="text-center text-light"><b id="popup_type_target"></b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md rounded-3">
                                    <p class="text-center"><b id="popup_title_target"></b></p>
                                    <p class="text-center" id="popup_details_target"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md">
                            <div class="row px-6 bg-dark text-light border border-dark rounded-3">
                                <div class="col-md py-3 border-dark rounded-3">
                                    <h3 class="text-center">
                                        <b id="popup_code_target"></b>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md self-align-center text-center">
                            <a href="{{ target_brand.brand_link }}" type="button" class="btn btn-lg btn-success btn-outline-light rounded-pill" id="popup_button">Take me to {{ target_brand.brand_name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}