{% extends "base_footer.html" %}
{% load static %}

{% block Stylesheet %}
    <link href="{% static 'promotion/css/country_page.css' %}" rel="stylesheet">
{% endblock %}

{% block Title %}
    Offers: {{ target_country }}
{% endblock %}

{% block Content %}
    {% include "navbar_header.html" %}

    <div class="row border">
        <div class="collapse bg-white rounded" id="search_brands">
            <div class="p-2" id="result_brands">
                {% for brand in brands %}
                    <div class="row m-2 brand_as_search_result" brand_name="{{ brand.brand_name }}">
                        <div class="col-auto align-self-center">
                            <a href="{{ brand.brand_slug }}">
                                <img class="img-fluid rounded" height="36" width="48" src="{% get_media_prefix %}{{ brand.brand_logo }}" alt="">
                            </a>
                        </div>
                        <div class="col-auto align-self-center">
                            <a href="{{ brand.brand_slug }} " class="link-dark text-decoration-none">
                                {{ brand.brand_name }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid p-4 text-light" id="country_page_sub_header">
        <div class="row px-4 pt-4 justify-content-center">
            <div class="col-md-auto">
                <h1>
                    Picodi: All discounts in one place!
                </h1>
            </div>
        </div>
        <div class="row p-4 justify-content-center">
            <div class="col-md-auto">
                <h4>
                    Cashback, coupons and promo codes for all shops and brands in {{ target_country.country_name }}.
                </h4>
            </div>
        </div>
    </div>

    <div class="container-fluid p-4 bg-light">
        <div class="container p-4">
            <div class="row px-2">
                <div class="col-md">
                    <h4>Brands</h4>
                </div>
            </div>
            <div class="row p-2">
                {% for brand in brands %}
                    <div class="col-md-3">
                        <div class="container my-2 py-2 bg-white">
                            <div class="row justify-content-center">
                                <div class="col-md-auto text-center">
                                    <a href="{{ brand.brand_slug }}">
                                        <img height="96" width="128" src="{% get_media_prefix %}{{ brand.brand_logo }}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid p-4 bg-light">
        <div class="container px-2 pb-2 bg-light">
            <div class="row px-2">
                <div class="column-md">
                    <h4>Trending Now</h4>
                </div>
            </div>
            <div class="row p-2">
                {% for offer in offers %}
                    <div class="col-md-4">
                        <div class="container my-2 py-2 bg-white">
                            <div class="row my-4 justify-content-center">
                                <div class="col-md-auto text-center">
                                    <a>
                                        <img height="111" width="148" src="{% get_media_prefix %}{{ offer.offered_by.brand_logo }}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="row my-4 justify-content-center">
                                <div class="coll-md-auto text-center">
                                    <h5>{{ offer.offer_title }}</h5>
                                </div>
                            </div>
                            <div class="row my-4 justify-content-center">
                                <div class="col-md-auto text-center">
                                    <button class="btn btn-lg btn-success rounded-pill">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Get it now!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "how_does_picodi_work.html" %}
{% endblock %}