{% extends "base_footer.html" %}
{% load static %}

{% block Stylesheet %}
    <link href="{% static 'promotion/css/country_page.css' %}" rel="stylesheet">
{% endblock %}

{% block Title %}
    Funscrimp: {{ target_country }}
{% endblock %}

{% block Content %}
    {% include "navbar_header.html" %}

    <div class="container-fluid">
        <div class="row border">
            <div class="collapse bg-white rounded" id="search_brands">
                <div class="p-2" id="result_brands">
                    {% for brand in brands %}
                        <div class="row m-2 brand_as_search_result" brand_name="{{ brand.brand_name }}">
                            <div class="col-auto align-self-center">
                                <a href="{{ brand.brand_slug }}">
                                    <img class="img-fluid rounded" height="36" width="48" src="{% get_media_prefix %}{{ brand.brand_logo }}" alt="">
                                </a>
                            </div>
                            <div class="col-auto align-self-center">
                                <a href="{{ brand.brand_slug }} " class="link-dark text-decoration-none">
                                    {{ brand.brand_name }}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-4 text-light" id="country_page_sub_header">
        <div class="row px-4 pt-4 justify-content-center">
            <div class="col-md-auto">
                <h1>
                    Get all the fun of online deals in one place!
                </h1>
            </div>
        </div>
        <div class="row p-4 justify-content-center">
            <div class="col-md-auto">
                <h4>
                    Cashback, coupons and promo codes for all shops and brands in {{ target_country.country_name }}.
                </h4>
            </div>
        </div>
    </div>

    <div class="container-fluid p-4 bg-light">
        <div class="container p-4">
            <div class="row px-2">
                <div class="col-md">
                    <h4>Brands</h4>
                </div>
            </div>
            <div class="row p-2" id="brands_section">
                {% for brand in brands %}
                    <div class="col-lg-3">
                        <div class="container my-2 py-2 bg-white">
                            <div class="row justify-content-center">
                                <div class="col-md-auto text-center">
                                    <a href="{{ brand.brand_slug }}">
                                        <img height="96" width="128" src="{% get_media_prefix %}{{ brand.brand_logo }}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid p-4 bg-light">
        <div class="container px-2 pb-2 bg-light">
            <div class="row px-2">
                <div class="column-md">
                    <h4>Trending Now</h4>
                </div>
            </div>
            <div class="row p-2">
                {% for offer in offers %}
                    <div class="col-lg-3 my-2">
                        <div class="container py-2 bg-white h-100">
                            <div class="row my-4 justify-content-center">
                                <div class="col-md-auto text-center">
                                    <a>
                                        <img height="111" width="148" src="{% get_media_prefix %}{{ offer.offered_by.brand_logo }}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="row my-4 justify-content-center">
                                <div class="coll-md-auto text-center">
                                    <h5>{{ offer.offer_title }}</h5>
                                </div>
                            </div>
                            <div class="row my-4 justify-content-center">
                                <div class="col-md-auto text-center">
                                   {% if offer.offer_type == "CODE" %}
                                       <a class="btn btn-danger btn-outline-light px-4 rounded-pill" coupon_no="{{ forloop.counter0 }}" c_percentage="{{ offer.offer_amount }}" c_type="{{ offer.offer_type }}" c_title="{{ offer.offer_title }}" c_details="{{ offer.offer_details }}" c_code="{{ offer.offer_code}}" c_link="{{ offer.offered_by.brand_link }}" onclick="redirect_hidden({{ forloop.counter0 }}); set_href_brand_name('{{ offer.offered_by.brand_name }}', '{{ offer.offered_by.brand_link }}');" href="#" role="button" id="button_code" data-bs-toggle="modal" data-bs-target="#code_modal"><b>REVEAL THE CODE</b></a>
                                   {% endif %}
                                    {% if offer.offer_type == "DEAL" %}
                                        <a class="btn btn-warning btn-outline-light px-5 rounded-pill" coupon_no="{{ forloop.counter0 }}" c_percentage="{{ offer.offer_amount }}" c_type="{{ offer.offer_type }}" c_title="{{ offer.offer_title }}" c_details="{{ offer.offer_details}}" c_code="You do not need any code for this offer!" c_link="{{ offer.offered_by.brand_link }}" onclick="redirect({{ forloop.counter0 }}); set_href_brand_name('{{ offer.offered_by.brand_name }}', '{{ offer.offered_by.brand_link }}');" href="#" role="button" id="button_deal" data-bs-toggle="modal" data-bs-target="#code_modal"><b>GET THE DEAL</b></a>
                                    {%  endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="modal fade" id="code_modal" tabindex="-1" aria-labelledby="code_modal_label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content p-4">
                            <div class="modal-header border">
                                <h5 class="modal-title" id="code_modal_label">Congratulations!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row mb-2">
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md">
                                                <div class="row">
                                                    <div id="popup_percentage_back">
                                                        <h1><b id="popup_percentage_target"></b></h1>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id="popup_type_back">
                                                        <p class="text-center text-light"><b id="popup_type_target"></b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md rounded-3">
                                                <p class="text-center"><b id="popup_title_target"></b></p>
                                                <p class="text-center" id="popup_details_target"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md">
                                        <div class="row px-6 border">
                                            <div class="col-md py-3 border-dark rounded-3">
                                                <h3 class="text-center">
                                                    <b id="popup_code_target"></b>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-md self-align-center text-center">
                                        <a href="" type="button" class="btn btn-lg btn-success btn-outline-light rounded-pill" id="popup_button">Take me to</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "how_does_picodi_work.html" %}
{% endblock %}