{% extends "base_footer.html" %}
{% load static %}
{% block Stylesheet %}
    <link href="{% static 'promotion/css/homepage.css' %}" rel="stylesheet">
{% endblock %}
{% block Title %}
    Homepage
{% endblock %}
{% block Content %}
    <div class="container-fluid bg-dark text-light" id="homepage_header">
        <div class="row mx-2 p-4 justify-content-start">
            <div class="col-md p-2">
                <a href="#"><img height="64" width="128" src="{% static 'promotion/vectors/company_logo.svg' %}" alt="#"></a>
            </div>
        </div>
        <div class="row mx-2 p-4 justify-content-center">
            <div class="col-md text-center">
                <h1><b>All discounts in one place</b></h1>
            </div>
        </div>
        <div class="row mx-2 p-4 justify-content-center">
            <div class="col-md text-center">
                <h5><b>The best online deals just one click away!</b></h5>
            </div>
        </div>
        <div class="row mx-2 p-4 justify-content-center">
<!--            <div class="col-md-auto mx-0 p-0">-->
<!--                <a class="btn btn-light btn-lg border-end rounded-0 text-dark">Search discounts in:</a>-->
<!--            </div>-->
            <div class="col-md-auto mx-0 p-0">
                <select class="form-select form-select-lg rounded-0 overflow-auto">
                    <option selected>Select a country&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                    {% for country in countries %}
                        <option>{{ country.country_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-auto mx-0 p-0">
                <button class="btn btn-danger btn-lg rounded-0 text-light"><b class="p-2">Search</b></button>
            </div>
        </div>
        <div class="row mx-2 p-4 justify-content-center">
            <div class="col-md p-4 text-center">
                <a href="#what_is_picodi_start"><button class="btn btn-outline-light btn-lg">What is Picodi?</button></a>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="what_is_picodi_start">
        <div class="row m-2 p-4 align-items-center">
            <div class="col-lg-4 p-4">
                <img src="{% static 'promotion/images/homepage_doodle_1.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-6 p-4">
                <h1>Meet your smart shopping companion</h1>
                <p>Picodi is your <b>little helper</b> for finding the best online deals. <b>Join Picodi</b> and use it every time you plan to shop online.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light">
        <div class="row m-2 p-4 flex-column-reverse flex-md-row align-items-center">
            <div class="col-lg-6 p-4">
                <h1>Searching for discounts?</h1>
                <h2>Stop right there!</h2>
                <p>With Picodi, it’s easy to spot online discounts. If you’re still searching for the best bargains on the Web, stop right there and visit Picodi. You’ll soon discover where all the good stuff is.</p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4 p-4">
                <img src="{% static 'promotion/images/homepage_doodle_2.png' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row m-2 p-4 align-items-center">
            <div class="col-lg-4">
                <img src="{% static 'promotion/images/homepage_doodle_3.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-6">
                <h1>Best offers from favourite retailers</h1>
                <p>Picodi won’t let you miss out on discounts from your favourite stores. Browse a wide selection of online deals from popular brands or find entirely new shopping destinations.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light">
        <div class="row mx-2 mt-2 p-4 flex-column-reverse flex-md-row align-items-center">
            <div class="col-lg-6">
                <h1>Discover the world of Picodi</h1>
                <p>Shoppers from 41 countries across the globe can now enjoy Picodi. Join them and choose one of Picodi’s websites. Let the shopping adventure begin with the best discounts available in your country!</p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <img src="{% static 'promotion/images/homepage_doodle_4.png' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    {% include "country_list_footer.html" %}
{% endblock %}
