{% extends "base_footer.html" %}
{% load static %}

{% block Stylesheet %}
    <link href="{% static 'promotion/css/homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block Title %}
    Funscrimp: Home
{% endblock %}

{% block Content %}
    <div class="container-fluid bg-dark text-light" id="homepage_header">
        <div class="row mx-2 p-4 justify-content-start">
            <div class="col-md p-2">
                <a href="#"><img height="64" width="128" src="{% static 'promotion/images/company_logo.png' %}" alt="#"></a>
            </div>
        </div>
        <div class="row mx-2 p-4 justify-content-center">
            <div class="col-md text-center">
                <h1><b>Get all the fun of online deals in one place!</b></h1>
            </div>
        </div>
{#        <div class="row mx-2 p-4 justify-content-center">#}
{#            <div class="col-md text-center">#}
{#                <h5><b>The best online deals just one click away!</b></h5>#}
{#            </div>#}
{#        </div>#}
        <div class="row mx-2 p-4 justify-content-center">
            <div class="col-md-auto mx-0 p-0 text-center">
                <button class="btn btn-light btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#search_countries" aria-expanded="false" aria-controls="search_countries"><img class="mr-2" height="32" width="32" src="{% static 'promotion/images/globe.png' %}" alt=""><b class="p-2">&nbsp;&nbsp;Select a country to search for discounts</b></button>
                <div class="collapse bg-white rounded" id="search_countries">
                    <form class="d-flex">
                        <label for="country_search"></label>
                        <input class="form-control form-control-lg my-2" id="country_search" type="search" placeholder="Search..." onkeyup="live_search_country()">
                    </form>
                    <div class="p-2" id="result_countries">
                        {% for country in countries %}
                            <div class="row m-2 country_as_search_result" country_name="{{ country.country_name }}">
                                <div class="col-auto">
                                    <a href="{{ country.get_absolute_url }}">
                                        <img class="img-fluid rounded" height="24" width="32" src="{% get_media_prefix %}{{ country.country_logo }}" alt="">
                                    </a>
                                </div>
                                <div class="col-auto">
                                    <a href="{{ country.get_absolute_url }} " class="link-dark text-decoration-none">
                                        {{ country.country_name }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-2 p-4 justify-content-center">
            <div class="col-md p-4 vstack align-items-center text-center">
                <img class="img-fluid" height="256" width="256" src="{% static 'promotion/images/save_currency.png' %}" alt="">
                <h4>Hey there!</h4>
                <p>I'm your currency! Save me please!</p>
                <a href="#lets_explore_funscrimp"><button class="btn btn-outline-light btn-lg m-2">Let's Explore Funscrimp!</button></a>
{#                <a href="#picodi_country_list"><button class="btn btn-outline-light btn-lg m-2">&nbsp;&nbsp;Country&nbsp;&nbsp;List&nbsp;&nbsp;</button></a>#}
            </div>
        </div>
    </div>

    <div class="container-fluid" id="lets_explore_funscrimp">
        <div class="row m-2 p-4 align-items-center">
            <div class="col-lg-4 p-4 text-center">
                <img src="{% static 'promotion/images/homepage_doodle_1.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-6 p-4">
                <h1>Wondering how I can be saved!</h1>
                <p>Join <b>Funscrimp</b> and use it <b>every</b> time you desire to shop <b>online.</b></p>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light">
        <div class="row m-2 p-4 flex-column-reverse flex-lg-row align-items-center">
            <div class="col-lg-6 p-4">
                <h1> Looking for Discount to save me?</h1>
                <h2>Let me show how!</h2>
                <p>With <b>Funscrimp,</b> it's <b>fun</b> to find online discounts. If you are facing trouble to <b>save</b> your money, find the <b>best</b> bargains on the web while visiting <b>Funscrimp.</b></p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4 p-4 text-center">
                <img src="{% static 'promotion/images/homepage_doodle_2.png' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row m-2 p-4 align-items-center">
            <div class="col-lg-4 text-center">
                <img src="{% static 'promotion/images/homepage_doodle_3.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-6">
                <h1>I am everywhere!</h1>
                <p>You can find me at your favorite retailers. Don't miss <b>discounts</b> from your <b>favorite</b> stores. Browse a wide selection of online deals from popular brands or find entirely new shopping destinations.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light">
        <div class="row mx-2 mt-2 p-4 flex-column-reverse flex-lg-row align-items-center">
            <div class="col-lg-6">
                <h1>Now you can save me!</h1>
                <p><b>Smart</b> people like you from <b>{{ countries|length }}+</b> countries across the globe can now enjoy <b>Funscrimp.</b> And I will be not lost now as smart people like you saved me! Saving me is fun, right? Thanks, <b>buddy!</b></p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4 text-center">
                <img src="{% static 'promotion/images/homepage_doodle_4.png' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>

    {% include "country_list_footer.html" %}
{% endblock %}
