{% load static %}
<div class="container-fluid">
     <div class="container">
         <div class="row">
             <div class="col-md-auto">
                 <h4>How does Picodi work?</h4>
             </div>
         </div>
         <div class="row">
             <div class="col-md-8">
                 <h6>It’s all about saving money</h6>
                 <p>It all starts pretty innocently. You go to your favourite website that sells clothes, you need to buy a new accessory for your car, you’re seeking a new washer because the old one is leaking, you’re browsing through a vast array of products, you’re one step away from buying and then this little, innocent thought comes across your mind. “Couldn’t it be cheaper?” We’re here to tell you exactly that: YES, it can be cheaper! We’re even going to show you how.</p>
                 <p>Picodi is on the bright side of the Internet force. We don’t promise you a carefree and prosperous life, painless liposuction or smoothing out your wrinkles with a touch of a magic wand (or cream in this case). We are giving you something that we truly believe should be accessible to all Internet users around the world - the ability to shop online for less. You may think that high quality of goods and services equals high prices. It may be true that sometimes to get something more valuable we need to pay more.</p>
                 <p>However, we don’t live in the times of monopoly where one company sets up the prices everyone must agree to. Various manufacturers, a multitude of stores, alternative solutions and possibilities are just a few factors that enable us to find places with high quality at the best price. What you understand by “high quality” and “best price” is up to everyone’s own interpretation. What is universal, though, is the fact that a good shop is one that offers its customers the ability to lower cost of shopping. Such are the stores that you will find here at Picodi. Don’t compromise on quality and save money in the process. It’s a win-win situation!</p>
             </div>
             <div class="col-md-4">
                 <img src="{% static 'promotion/images/homepage_doodle_1.png' %}" class="img-fluid" alt="">
             </div>
         </div>
         <div class="row">
             <div class="col-md-auto">
                 <h6>Online shopping, real savings</h6>
                 <p>IYou’ve probably already heard about someone who is using cheap airlines and visits new countries for peanuts now and then. Or your friend may have bought a dress you always dreamed of for such a low price that you just can’t believe she was telling the truth. Your family member furnished their kitchen from top to bottom for half of the money you would think kitchen equipment would cost. Add to it free delivery and free professional assembly.</p>
                 <p>How is that possible, you may wonder? And why you’re still missing out on such deals? It’s high time to change it! You’re here finally and what you’re going to find at Picodi is the unlimited access to cheaper online shopping. Be it front cover magazines fashion from top brands or smaller shops offering niche and unique products hard to find some place else.</p>
             </div>
         </div>
         <div class="row">
             <div class="col-md-auto">
                 <h6>What do you get from us?</h6>
                 <p>Simply put, we’re providing you with promotional codes and discount offers. In the case of codes, you need to visit a given store’s website, add the desired product to your shopping cart or bag (it’s different in every store!) and when you finally land yourself at checkout, that’s the place where you apply a coupon code found at Picodi. It can be named differently, sometimes a store is asking for a promo code, sometimes for a voucher code, other times for a coupon or simply a code - feel free to enter the code from Picodi to get your discount. When it comes to deals and discount offers, all you need to do is click the button with “Get the Deal” sign on it and you will land on the dedicated page with the promotion.</p>
             </div>
         </div>
         <div class="row">
             <div class="col-md-auto">
                 <h6>Cheaper shopping from the best site</h6>
                 <p>We’ve engineered best solutions for easy and convenient usage of our website. Categories are intuitive and our user-friendly interface is backed up by clear instructions so you simply can't get lost on your discount-seeking mission! Moreover, we have so many promo codes and promotions that we are extremely eager to share them with as many people as possible. Our deals database is constantly growing. We sincerely hope that the number of users satisfied with our work will also increase at such a pace.</p>
             </div>
         </div>
         <div class="row">
             <div class="col-md-auto">
                 <h6>Have it all, and have it in one place</h6>
                 <p>Picodi’s pretty amazing, we are aware of that :) We won’t bother you to visit us every day, though! You can still have access to the hottest offers and latest coupon codes for your favourite stores. How come? Just leave us your email address and we will send you only the best deals. Don’t miss Popular Offers section above where only the most best-selling deals land. You can also check our Facebook page where we promote different offers on a daily basis.</p>
             </div>
         </div>
         <div class="row">
             <div class="col-md-auto">
                 <h6>What’s the catch?</h6>
                 <p>The only risk you face with Picodi is that you will eventually buy everything your heart desired and you’ll be left with nothing new to dream of. Such a state is only temporary, though, and can be easily fixed with the next visit to Picodi!</p>
             </div>
         </div>
     </div>
 </div>