{% load static %}

<div class="container-fluid p-4">
     <div class="container p-4">
         <div class="row p-2 my-2">
             <div class="col-md-auto">
                 <h3>How does Funscrimp work?</h3>
             </div>
         </div>
         <div class="row p-2 my-2">
             <div class="col-md-8 mr-2">
                 <h5>Saving your money is everything!</h5>
                 <p>It all starts off rather casually. You go to your favorite clothing website, you need a new automobile accessory, you're looking for a new washer since the old one is leaking, you're browsing through a large array of things, you're one step away from purchasing, and then this small, innocent notion crosses your mind. "Couldn't it be less expensive?" We're here to inform you: YES, it can be less expensive! We'll even teach you how to do it.</p>
                 <p>Funscrimp is on the good side of the Internet. We don't promise you a joyful and successful life, effortless liposuction, or wrinkle flattening with the wave of a magic wand (or cream in this case). We are providing you something that we sincerely feel all Internet users throughout the world should have access to: the opportunity to purchase online for less. You may believe that high-quality goods and services are expensive. It is possible that in order to obtain something much more useful, we must occasionally pay a higher price.</p>
                 <p>However, we no longer live in a monopolistic era where one corporation sets the prices that everyone must accept. Various manufacturers, a plethora of outlets, alternative solutions, and options are just a few of the variables that enable us to locate high-quality locations at the best possible price. Everyone has their own perception of what "excellent quality" and "best price" mean. What is common, though, is that a good shop is one that allows its clients to save money on their purchases. These are the types of stores you'll discover at Funscrimp. Don't skimp on quality in the name of saving money. It's a win-win situation for everyone!</p>
             </div>
             <div class="col-md-4">
                 <img src="{% static 'promotion/images/homepage_doodle_1.png' %}" class="img-fluid" alt="Funscrimp_doodle">
             </div>
         </div>
         <div class="row p-2 my-4">
             <div class="col-md-auto">
                 <h5>Shop on the go! Save on the go!</h5>
                 <p>You've undoubtedly heard of someone who travels on low-cost flights and sees new destinations for peanuts every now and again. Or perhaps your buddy purchased a dress you've always wanted at such a low price that you can't believe she's speaking the truth. Your family member outfitted their kitchen from top to bottom for half the price you'd expect kitchen equipment to cost. Add free delivery and skilled assembly to the mix.</p>
                 <p>You may be wondering how it is feasible. And why you’re still missing out on such deals? It's past time to make a difference! You've arrived, and what you'll discover at Funscrimp is unrestricted access to affordable internet shopping. Whether it's front-cover magazines, top-brand apparel, or smaller boutiques with specialized and one-of-a-kind items that are difficult to obtain elsewhere.</p>
             </div>
         </div>
         <div class="row p-2 my-4">
             <div class="col-md-auto">
                 <h5>We are offering everything, aren't we!</h5>
                 <p>Simply, we're offering you cheap coupons and promotional deals. In the case of codes, you must go to a specific store's website, add the desired goods to your shopping cart or bag (this varies by store!) and then enter the code. When you go to the checkout page, that's when you apply a Funscrimp promo code. It may be called by different names; for example, a store may ask for a promo code, a voucher code, a coupon, or just a code; feel free to use the Funscrimp code to obtain your discount. When it comes to bargains and discounts, all you have to do is click the button that says "Get the Deal" and you'll be taken to the appropriate page.</p>
             </div>
         </div>
         <div class="row p-2 my-4">
             <div class="col-md-auto">
                 <h5>Buckle up! This may not end anytime soon!</h5>
                 <p>We've devised the most effective methods for making our website simple and convenient to use. Our categories are intuitive, and our user-friendly interface is backed up by clear instructions, so you'll never get lost while looking for bargains! Furthermore, we have so many promotional codes and offers that we are glad to share them with as many people as possible. Our deals database is always expanding. We truly hope that the number of users who are pleased with our work will continue to grow at this rate.</p>
             </div>
         </div>
         <div class="row p-2 my-4">
             <div class="col-md-auto">
                 <h5>Why wander around? Whatever you need, come right here!</h5>
                 <p>We're quite aware of Funscrimp's brilliance. However, we will not pester you to come see us every day! You can still get the best deals and use the most recent promo codes for your favorite stores. How come? Simply provide us with your email address, and we'll give you only the finest offers. Don't miss the Popular Offers section above, which features only the most popular discounts. You can also keep an eye on our Facebook page, where we post daily specials.</p>
             </div>
         </div>
         <div class="row p-2 my-4">
             <div class="col-md-auto">
                 <h5>What's the catch, exactly?</h5>
                 <p>Funscrimp's main risk is that you will finally acquire whatever your heart desires, leaving you with nothing fresh to dream about. However, such a state is just transitory and may be easily remedied on your next visit to Funscrimp!</p>
             </div>
         </div>
     </div>
 </div>